body{

font-family: 'Oswald', sans-serif;
}
span{
    color: coral;
}
.bigger-size
{
    font-size: 55px;
    margin-left: 50px;
    margin-top: 100px;
    
}
h2{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.456);
}
.button-it{
    background-image: linear-gradient(gold,brown);
    border-radius: 20px;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 25px 10px;
    
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
#margin101{
    margin-left: 50px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.margin-it{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}
.need-margin
{
margin-top: 150px;
margin-right: 60px;
}
.top-side{
    display: flex;
    margin-bottom: 100px;
}
.bg-add{
    background-image: url(images/shapes/7.png);
}
#center-need{
text-align: center;
margin-left: 400px;
margin-right: 400px;
}
.disp-flex{
    display: flex;
    margin-top: 70px;
    
}
.mera-box{
    box-shadow: 10px 10px 40px 25px gray;
    width: 31.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 8px;
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 150px;
    

}
.mera-box img{
    width: 95%;
    
    padding-top: 14px;
    

}
.center2{
    text-align:left;
    
}
.d-chart{
    display: flex;
    background-image: url(images/shapes/comrawpixel2339972.jpg);
    margin-bottom: 150px;

}
.fooddd{
    display: flex;
    margin-bottom: 150px;
    
}
.one-forth{
    width: 24%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    text-align: center;

}
.one-forth img{
    width: 70%;
    padding-top: 40px;
    padding-left: 12px;
}
footer{
    text-align: center;
    color: ivory;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}